<h1>Places</h1>
<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="cityName">City name</label>
            <input type="text" id="cityName" class="form-control" ng-model="vm.place.cityName" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveUser()">Save</button>
            <button class="btn btn-danger" ng-click="vm.deleteUser()">Delete</button>
        </div>
    </form>
</div>