<div class="container" ng-controller="TodoController">
    <div class="row col-md-12">
		<form>
			<!-- Todo item -->
			<div>
				<input type="text" class="form-control input-lg" placeholder="Enter a Todo" ng-model="todoInput">
			</div>

			<!-- Todo Priority -->
			<label>Todo priority level:</label>
			<div required>
				<input type="radio" name="priorityRadios" id="radiohigh" value="High" ng-model="priority">High
				<input type="radio" name="priorityRadios" id="radiolow" value="Low" ng-model="priority">Low
			</div>

			<!-- Completed -->
			<div>
				<label>Already completed?</label>
				<input type="checkbox" ng-model="isCompleted" />
			</div>

			<!-- User -->
			<input type="text" class="form-control input-lg" placeholder="Enter your name" ng-model="userInput" required>
			
			<!-- User type -->
			<label>You are a:</label>
			<div required>
				<input type="radio" name="typeRadios" id="radiohuman" value="Human" ng-model="userType" />Human
				<input type="radio" name="typeRadios" id="radiorobot" value="Robot" ng-model="userType" />Robot
			</div>

        <input type="button" class="btn btn-info" value="Add" ng-click="save($event)" />
		</form>
    </div>

	<!-- VIEW THE TODOS! -->
    <div class="row col-md-12 todos">
        <div class="alert alert-info text-center" ng-hide="todos.length > 0">
            <h3>No Todos yet!</h3>
        </div>
        <div ng-repeat="todo in todos" class="todo col-md-12 col-sm-12 col-xs-12" ng-class="todo.isCompleted ? 'strike' : ''">

			<!-- Completed -->
            <div class="col-md-1 col-sm-1 col-xs-1">
                <input type="checkbox" ng-checked="todo.isCompleted" ng-click="updateStatus($event, todo._id, $index)" />
            </div>

			<!-- Todo text -->
            <div class="col-md-8 col-sm-8 col-xs-8">
                <span ng-show="!isEditable[$index]">{{todo.todo}}</span>
                <input ng-show="isEditable[$index]" type="text" value="{{todo.todo}}" ng-model="todo.todo" />
            </div>

			<!-- Todo priority -->
            <div class="col-md-8 col-sm-8 col-xs-8">
                <span ng-show="!isEditable[$index]">Priority: {{todo.priority}}</span>
			</div>
			<div ng-show="isEditable[$index]">
				<input ng-show="isEditable[$index]" type="radio" name="priorityRadios{{$index}}" id="radiohigh" value="High" ng-model="todo.priority" ng-checked="(todo.priority == High)"/>High
				<input ng-show="isEditable[$index]" type="radio" name="priorityRadios{{$index}}" id="radiolow" value="Low" ng-model="todo.priority" ng-checked="(todo.priority == Low)"/>Low
            </div>

			<!-- User -->
            <div class="col-md-8 col-sm-8 col-xs-8">
                <span ng-show="!isEditable[$index]">User: {{todo.user}}</span>
                <input ng-show="isEditable[$index]" type="text" value="{{todo.user}}" ng-model="todo.user" />
            </div>

			<!-- User type -->
            <div class="col-md-8 col-sm-8 col-xs-8">
                <span ng-show="!isEditable[$index]">User type: {{todo.userType}}</span>
			</div>
			<div ng-show="isEditable[$index]">
				<input ng-show="isEditable[$index]" type="radio" name="typeRadios{{$index}}" id="radiohuman" value="Human" ng-model="todo.userType" ng-checked="(todo.userType == Human)" />Human
				<input ng-show="isEditable[$index]" type="radio" name="typeRadios{{$index}}" id="radiorobot" value="Robot" ng-model="todo.userType" ng-checked="(todo.userType == Robot)" />Robot
            </div>

			<!-- Edit/Delete -->
            <div class="col-md-3 col-sm-3 col-xs-3">
				<input ng-show="isEditable[$index]" type="button" class="btn btn-info" value="Save" ng-click="edit($index)" />
				<input ng-show="isEditable[$index]" type="button" class="btn btn-warning" value="Cancel" ng-click="isEditable[$index] = false" />
			</div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <input type="button" class="btn btn-info" ng-disabled="todo.isCompleted" class="pull-right" value="Edit" ng-click="isEditable[$index] = true" />
                <input type="button" class="btn btn-danger" class="pull-right" value="Delete" ng-click="delete($index)" />
            </div>

        </div>
    </div>
  </div>
</div>
